- unless logged_in?
  %h1 Login
  .well.bs-component
    = form_tag sessions_path, method: :post do
      %fieldset
        .form-group
          = label_tag :email
          %br/
          = text_field_tag :email
        .form-group
          = label_tag :password
          %br/
          = password_field_tag :password
        .form-group
          = submit_tag I18n.t("buttons.login") , class: 'btn btn-primary btn-lg'
- else
  %h1
    = I18n.t("views.sessions.already_logged")
    \!
  %h2
    ID: #{current_user.id}
  %h2
    email: #{current_user.email}
  = link_to I18n.t("buttons.logout"), logout_path, method: :post , class: "btn btn-primary btn-lg"
