<h1>Редактирование пользователя:</h1>
<div class="well bs-component">
  <%= simple_form_for @user, html: {class: "form-horizontal"},
                      url: users_path  do |f| %>

      <%= render partial: 'shared/validation_errors', locals: { object: @user }  %>
      <fieldset>
        <legend>User ID: <%= @user.id %></legend>
        <%= f.input :email, required: true %>
        <%= f.input :password, required: true %>
        <%= f.submit I18n.t("buttons.save"), class: "btn btn-primary" %>
        <%= link_to I18n.t("buttons.cansel"), root_path, class: "btn btn-default" %>
      </fieldset>
  <% end %>
</div>