<h1><%= I18n.t("views.users.edit") %>:</h1>
<div class="well bs-component">
  <%= simple_form_for @user, html: {class: "form-horizontal"},
                      url: users_path  do |f| %>

      <%= render partial: 'shared/validation_errors', locals: { object: @user }  %>
      <fieldset>
        <%= f.input :email, required: true %>
        <%= f.input :password, required: true %>
        <%= f.input :language, :collection => [
          %w(English en),
          %w(Русский ru),
          %w(Українська ua)
        ] %>
        <%= f.submit I18n.t("buttons.save"), class: "btn btn-primary" %>
        <%= link_to I18n.t("buttons.cancel"), root_path, class: "btn btn-default" %>
      </fieldset>
  <% end %>
</div>
