<h1><%= I18n.t("views.users.show") %>:</h1>
<hr>
<div>
  <ul class="list-group">
    <li class="list-group-item"><b class="text-info"><%= I18n.t("activerecord.attributes.user.email") %>:</b>&nbsp; <%= @user.email.present? ? @user.email : t('errors.messages.empty_field') %></li>
    <li class="list-group-item"><b class="text-info"><%= I18n.t("activerecord.attributes.user.password") %>:</b>&nbsp; <%= @user.password.present? ? @user.password : "*******" %></li>
    <li class="list-group-item">
      <b class="text-info"><%= I18n.t("activerecord.attributes.user.language") %>:</b>&nbsp;

    </li>
  </ul>

  <%= link_to I18n.t("buttons.edit"), edit_users_path(@user), class: "btn btn-primary btn-lg" %>
  <%= link_to I18n.t("buttons.cancel"), root_path, class: "btn btn-default btn-lg" %>
</div>