<h1><%= I18n.t("views.registrations.new") %>:</h1>
<div class="well bs-component">
  <%= simple_form_for @user, url: registrations_path do |f| %>
    <%= render partial: 'shared/validation_errors', locals: { object: @user }  %>
    <fieldset>
      <%= f.input :email, class: 'form-group', required: true %>
      <%= f.input :password, class: 'form-group', required: true %>
      <%= f.input :password_confirmation, class: 'form-group', required: true %>
      <%= f.submit I18n.t("buttons.registration"), class: 'btn btn-primary btn-lg' %>

    </fieldset>
  <% end %>
</div>