%h1
  = t('views.users.show')
  \:
%hr/
%div
  %ul.list-group
    %li.list-group-item
      %b.text-info>
        = t('activerecord.attributes.user.email')
        \:
        #{@user.email.present? ? @user.email : t('errors.messages.empty_field')}
    %li.list-group-item
      %b.text-info>
        = t('activerecord.attributes.user.password')
        \:
        #{@user.password.present? ? @user.password : '*******'}
    %li.list-group-item
      %b.text-info>
        = t('activerecord.attributes.user.language')
        \:
        #{@user.locale.present? ? t('language') : t('errors.messages.empty_field')}
    %li.list-group-item
      %b.text-info>
        = t('activerecord.attributes.user.remind_email')
        \:
      %input{type: 'checkbox', checked: @user.remind_email ? true : false, disabled: true}/
  = link_to t('buttons.edit'), edit_users_path(@user), class: 'btn btn-primary btn-lg'
  = link_to t('buttons.cancel'), root_path, class: 'btn btn-default btn-lg'
