<div class="well bs-component">
  <%= simple_form_for @card, html: {class: "form-horizontal"} do |f| %>
      <%= render partial: 'shared/validation_errors', locals: { object: @card }  %>
      <fieldset>
        <legend>Card ID: <%= @card.id %></legend>
        <%= f.input :original_text %>
        <%= f.input :translated_text %>

        <% if @card.new_record? %>
            <%= f.submit I18n.t("buttons.save"), class: "btn btn-primary" %>
            <%= link_to I18n.t("buttons.cansel"), cards_path, class: "btn btn-default" %>
        <% else %>
            <%= f.submit I18n.t("buttons.edit"), class: "btn btn-primary" %>
            <%= link_to I18n.t("buttons.delete"), @card, method: :delete, data: { confirm: I18n.t("confirm.delete_card") }, class: "btn btn-danger" %>
            <%= link_to I18n.t("buttons.cansel"), cards_path, class: "btn btn-default" %>
        <% end %>
      </fieldset>
  <% end %>
</div>