<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>№</th>
    <th>ID</th>
    <th><%= I18n.t("activerecord.attributes.card.original_text") %></th>
    <th><%= I18n.t("activerecord.attributes.card.translated_text") %></th>
    <th><%= I18n.t("activerecord.attributes.card.review_date") %></th>
    <th>Modification</th>
  </tr>
  </thead>
  <tbody>
  <% @cards.each.with_index(1) do |card, index| %>
  <tr>
    <td><%= link_to index, "/cards/#{card.id}" %></td>
    <td><%= card.id %></td>
    <td><%= card.original_text.present? ? card.original_text : t('error.messages.empty_field') %></td>
    <td><%= card.translated_text.present? ? card.translated_text : t('error.messages.empty_field')  %></td>
    <td><%= card.review_date.present? ? (l card.review_date, format: :default) : t('error.messages.empty_field') %></td>
    <td>
      <%= link_to "Edit", edit_card_path(card), class: "btn btn-primary btn-sm" %>
      <%= link_to "Delete", card, method: :delete, data: { confirm: I18n.t("confirm.delete_card") }, class: "btn btn-danger btn-sm" %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>


