<h1>Создать новую карту:</h1>
<div class="well bs-component">
  <%= simple_form_for @card, html: {class: "form-horizontal"} do |f| %>
      <fieldset>
        <legend>Введите значения:</legend>

        <%= render partial: 'form_for_card', locals: { f: f, property: :original_text, value: I18n.t("activerecord.attributes.card.original_text")}  %>
        <%= render partial: 'form_for_card', locals: { f: f, property: :translated_text, value: I18n.t("activerecord.attributes.card.translated_text")}  %>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit "Save", class: "btn btn-primary" %>
            <%= link_to "Cansel", cards_path, class: "btn btn-default" %>
          </div>
        </div>

        <%= render partial: 'validation_errors', locals: { card: @card }  %>

      </fieldset>
  <% end %>
</div>