<h1> Card ID: <%= @card.id %></h1>
<hr>
<div>
  <ul class="list-group">
    <li class="list-group-item">
      <b class="text-info"><%= I18n.t("activerecord.attributes.card.image") %>:</b>
      &nbsp;
      <% if @card.image.url.present? %>
          <%= image_tag @card.image.url %>
      <% else %>
          ...
      <% end %>
    </li>
    <li class="list-group-item">
      <b class="text-info"><%= I18n.t("activerecord.attributes.card.original_text") %>:</b>
      &nbsp; <%= get_text(@card, :original_text) %>
    </li>
    <li class="list-group-item">
      <b class="text-info"><%= I18n.t("activerecord.attributes.card.translated_text") %>:</b>
      &nbsp; <%= get_text(@card, :translated_text) %>
    </li>
    <li class="list-group-item"><b class="text-info">
      <%= I18n.t("activerecord.attributes.card.review_date") %>:</b>
      &nbsp; <%= get_text(@card, :review_date )%>
    </li>
  </ul>
  <%= link_to I18n.t("buttons.edit"), edit_card_path(@card), class: "btn btn-primary btn-lg" %>
  <%= link_to I18n.t("buttons.delete"), @card, method: :delete, data: { confirm: I18n.t("confirm.delete_card") }, class: "btn btn-danger btn-lg" %>
  <%= link_to I18n.t("buttons.cansel"), cards_path, class: "btn btn-default btn-lg" %>
</div>



