!!!
%html
  %head
    %title Flashcards
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %section#container
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            = link_to "Flashcards", root_path, class: "navbar-brand"
          #navbar-main.navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              - if current_user
                %li.dropdown
                  %a#cards.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    = I18n.t("views.application.decks")
                    %span.caret
                  %ul.dropdown-menu{"aria-labelledby" => "cards"}
                    %li= link_to I18n.t("buttons.all_decks"), decks_path
                    %li= link_to I18n.t("buttons.add_deck"), new_deck_path
                %li.dropdown
                  %a#profile.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    = I18n.t("views.application.profile")
                    %span.caret
                  %ul.dropdown-menu{"aria-labelledby" => "profile"}
                    %li= link_to I18n.t("buttons.edit_profile"), edit_users_path
                    %li= link_to I18n.t("buttons.show_profile"), users_path
                    %li.divider
                    %li= link_to I18n.t("buttons.logout"), logout_path, method: :post
              - else
                %li.dropdown
                  %a#profile.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    = I18n.t("buttons.login")
                    %span.caret
                  %ul.dropdown-menu{"aria-labelledby" => "profile"}
                    %li= link_to 'VK', auth_at_provider_path(:provider => :vk)
                    %li= link_to 'FB', auth_at_provider_path(:provider => :facebook)
                    %li= link_to 'E-MAIL', login_path
                %li= link_to I18n.t("buttons.sign_up"), sign_up_path
      #wrapper
        - if current_user && Rails.env.development?
          .h4.word_for_translate.text-info
            %p
              %b User_id:
              = current_user.id
            %p
              %b User_email:
              = current_user.email
        #flasher
          = render 'shared/flasher'
        = yield
        - unless current_user.present?
          .flags
            = link_to image_tag("en.png"), change_locale_path(locale: "en"), class: "flag flag-en"
            = link_to image_tag("ru.png"), change_locale_path(locale: "ru"), class: "flag flag-ru"
            = link_to image_tag("ua.png"), change_locale_path(locale: "ua"), class: "flag flag-ua"
        = debug(params) if Rails.env.development?
